@import "tailwindcss";

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(./dark-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}